@font-face {
    font-family: Bai Jamjure Regular;
    src: url(./fonts/BaiJamjuree-Regular.ttf);
}
@font-face {
    font-family: Bai Jamjure Semibold;
    src: url(./fonts/BaiJamjuree-SemiBold.ttf);
}
 
* {
    font-family: Bai Jamjure Regular;
    margin: 0;
    box-sizing: border-box;
    color: hsl(210, 10%, 33%);
}

body::-webkit-scrollbar {
    background-color: rgb(253, 253, 253);
    width: 10px;

}

body::-webkit-scrollbar-thumb {
    background-color: hsl(171, 68%, 33%);
}

body {
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    width: 50%;
}

#header img {
    width: 100px;
    margin-bottom: 3rem;
}

header h1 {
    font-family: Bai Jamjure Semibold;
    margin: 0 0 1rem 0;
    font-size: 43px;
    text-align: center;
}

header p {
    
    text-align: center;
    margin: 0 0 2rem 0;
    line-height: 25px;
    font-size: 20px;
}

[data-anime-img-header] {
    opacity: 0;
    transition: 1s;
}

[data-anime-img-header="scale"] {
    transform: scale(3);
}

[data-anime-img-header].animate {
    opacity: 1;
    transform: scale(1);
    transition: 1s;
}

[data-anime-h1-header] {
    opacity: 0;
    transition: 1s;
}

[data-anime-h1-header="top"] {
    transform: translate3d(0, 70px, 0);
}

[data-anime-h1-header].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}

[data-anime-p-header] {
    opacity: 0;
    transition: 1s;
}

[data-anime-p-header="top"] {
    transform: translate3d(0, 70px, 0)
}

[data-anime-p-header].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}

[data-anime-btn-header] {
    opacity: 0;
    transition: 1s;
}

[data-anime-btn-header="top"] {
    transform: translate3d(0, 70px, 0);
}

[data-anime-btn-header].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}

[data-anime-section]{
    opacity: 0;
    transition: 1s;
}

[data-anime-section="top"] {
    transform: translate3d(0, 70px, 0)
}

[data-anime-section].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="right"] {
    transform: translate3d(-5px, 0, 0)
}

[data-anime="left"] {
    transform: translate3d(20px, 0, 0)
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}

[data-anime-img] {
    opacity: 0;
    transition: 1s;
}

[data-anime-img="right"] {
    transform: translate3d(-50px, 0, 0)
}

[data-anime-img].animate {
    opacity: 1;
    transform: translate3d(-40px, 0, 0);
    transition: 1s;
}

[data-anime="top"] {
    transform: translate3d(0, 20px, 0);
}

[data-anime-img-sec3] {
    opacity: 0;
    transition: 1s;
}

[data-anime-img-sec3="scale"] {
    transform: scale(0.8);
}

[data-anime-img-sec3].animate {
    opacity: 1;
    transform: scale(1);
    transition: 1s;
}

[data-anime-1] {
    opacity: 0;
    transition: 1s;
}

[data-anime-2] {
    opacity: 0;
    transition: 1.2s;
}

[data-anime-3] {
    opacity: 0;
    transition: 1.4s;
}

[data-anime-4] {
    opacity: 0;
    transition: 1.6s;
}

[data-anime-5] {
    opacity: 0;
    transition: 1.8s;
}

[data-anime-1="top"] {
    transform: translate3d(0, 20px, 0)
}

[data-anime-2="top"] {
    transform: translate3d(0, 20px, 0)
}

[data-anime-3="top"] {
    transform: translate3d(0, 20px, 0)
}

[data-anime-4="top"] {
    transform: translate3d(0, 20px, 0)
}

[data-anime-5="top"] {
    transform: translate3d(0, 20px, 0)
}

[data-anime-1].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1s;
}

[data-anime-2].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1.2s;
}

[data-anime-3].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1.4s;
}

[data-anime-4].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1.6s;
}

[data-anime-5].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 1.8s;
}

[data-text1] {
    opacity: 0;
    transition: 1s;
}


[data-text1="bottom"] {
    transform: translate3d(15px, -10px, 0);
}

[data-text1].animate {
    opacity: 1;
    transform: translate3d(0, -10px, 0);
    transition: 1s
}

p {
    color: hsl(201, 11%, 66%);

}

h1, h2, h3 {
    font-family: Bai Jamjure Semibold;
}

button:first-child {
    background-color: hsl(171, 66%, 44%);
    color: white;
    height: 40px;
    border-radius: 100px;
    padding: 0 25px;
    border: none;
    margin-right: 0.2rem;
    box-shadow: 0px 2px 1px hsl(171, 68%, 33%);
    cursor: pointer;
}

button:last-child {
    background-color: hsl(233, 100%, 69%);
    color: white;
    height: 40px;
    border-radius: 100px;
    padding: 0 25px;
    border: none;
    margin-left: 0.2rem;
    box-shadow: 0px 2px 1px hsl(233, 49%, 52%);
    cursor: pointer;
}

button:active {
    color: white;
    box-shadow: 0 0.2rem #ffffff;
    transform: translateY(2px);
}

section {
    width: 100%;
    display: flex;
    align-items: center;
}

section h2 {
    margin: 0 0 0.5rem 0;
}

#sec1 {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
    width: 50%;
}

#sec1 p {
    line-height: 30px;

}

#sec2 {
    padding: 4rem 0;

}

.text {
    margin-left: 4rem;
}

.text h2 {
    padding-top: 2.5rem;
}

.text h2:first-child {
    margin-top: 0;
}

.text p {
    width: 70%;
    font-size: 90%;
    line-height: 30px;
}

.text1, .text2, .text3 {
    width: 90%;
}

#sec3 {
    flex-direction: column;
    padding: 2rem 0;
}

#sec3 p {
    width: 50%;
    text-align: center;
    line-height: 30px;
}

#sec3 img {
    margin-top: 6rem;
}

#sec3 h2 {
    margin-bottom: 1.3rem;
}

#sec4 {
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 3rem;
}

#sec4 h2 {
    margin-bottom: 1.3rem;
    font-size: 170%;
}

#sec4 p {
    font-size: 90%;
}

#sec5 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
    justify-content: space-between;
}

#sec5 div {
    width: 35%;
    text-align: center;
    align-self: flex-start;
}

#sec5 h3 {
    margin: 1.3rem 0;
}

#sec5 p {
    line-height: 30px;
    padding: 0 1rem;
}

#logos {
    justify-content: space-evenly;
    padding: 10rem 7rem;
    flex-wrap: wrap;
}

#logos img {
    margin-right: 3rem;
    margin-bottom: 3rem;
}

#sec6 {
    flex-direction: column;
    align-items: center;
    padding-left:7rem;
    padding-right: 7rem;
    padding-bottom: 7rem;
}

#sec6 div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sec6 p {
    width: 60%;
    margin-bottom: 2rem;
    line-height: 30px;
}

#sec6 h3 {
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F5F6F8;
    height: 130px;
    padding: 0 7vw;
}

footer .logo {
    width: 50px;
}

footer .links {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7vw;
    display: grid;
    grid-template-areas: 
    
    "a a a"
    "a a";

    grid-template-columns: auto auto auto ;
    grid-template-rows: 3rem 3rem;
}

footer .links a {
    text-decoration: none;
    font-size: 100%;
    color: rgb(46, 46, 46);
}

footer .links a:hover {
    color: hsl(171, 66%, 44%);
}

footer .links a:nth-child(1) {
    margin-left: 0;
    width: 45px;
    margin-right: 4rem;
}

footer .links a:nth-child(2) {
    width: 95px;
    margin-right: 4rem;
}

footer .links a:nth-child(3) {
    width: 120px;
    margin-right: 4rem;
}

footer .links a:nth-child(4) {
    width: 75px;
    margin-right: 4rem;
}

footer .links a:nth-child(5) {
    width: 105px;
}

footer .logos {
    width: 20%;
    display: flex;
    margin-right: 4vw;
    padding-left: 10vw;
}

footer .logos img {
    margin: 0 0.5vw;
}

.attr {
    width: 20vw;
    display: flex;
    justify-content: end;
}

@media screen and (min-width: 0) and (max-width: 759px) {

    header {
        background-image: url(./images/bg-header-mobile.png);
        background-size: cover;
    }

    #header {
        width: 100%;
    }

    #header h1 {
        text-align: center;
        margin-bottom: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 27px;
    }

    #header p {
        margin: 1rem 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 17px;
    }
    
    .button {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    button:first-child {
        height: 45px;
        margin-bottom: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    button:last-child {
        height: 45px;
    }

    .button button {
        margin-left: 0;
        margin-right: 0;
    }

    #sec1 {
        width: 100%;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    #sec1 h2 {
        margin-bottom: 1rem;
    }

    #sec1 p {
        font-size: 17px;
    }

    #sec2 {
        flex-direction: column;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    #sec2 img {
        width: 100%;
        transform: translateX(0);
        margin-bottom: 5rem;
    }

    #sec2 .text {
        text-align: center;
        margin: 0;
    }

    .text h2 {
        padding-top: 0;
    }

    #sec2 .text p {
        margin-bottom: 3rem;
        width: 100%;
        font-size: 17px;
    }

    #sec3 {
        justify-content: center;
        align-items: center;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    #sec3 h2 {
        text-align: center;
    }

    #sec3 p {
        width: 100%;
        font-size: 17px;
    }

    #sec3 img {
        margin-top: 3rem;
        width: 100%;
    }

    #sec4 {
        text-align: center;
        padding: 4rem 1.9rem 3rem 1.9rem;
    }

    #sec4 p {
        font-size: 17px;
    }


    #sec5 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #sec5 div {
        width: 100%;
        padding: 1.9rem 1.3rem;
    }

    #sec5 div p {
        font-size: 17px;
    }

    #logos {
        padding-top: 5rem;
        padding-bottom: 10rem;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    #logos img {
        margin: 2rem 0;
    }

    #sec6 {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        padding-bottom: 10rem;
    }

    #sec6 h3 {
        padding: 0 3rem;
    }

    #sec6 p {
        width: 100%;
        font-size: 17px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    footer img {
        padding: 3rem 0;
    }

    footer .links {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    footer .links a{
        text-align: center;
        width: 100%;
        margin: 1.5rem 0;
        font-size: 17px;
    }

    footer .links a:nth-child(1) {
        width: auto;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    footer .links a:nth-child(2) {
        width: auto;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    footer .links a:nth-child(3) {
        width: auto;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    footer .links a:nth-child(4) {
        width: auto;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    footer .links a:nth-child(5) {
        width: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    footer .logos {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    .attr {
        width: auto;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 749px) and (max-width: 1110px) {

    #sec2 p {
        width: 60%;
        margin-right: 0;
    }

}

@media screen and (min-width: 760px) and (max-width: 1159px) {

    #sec2 {
        flex-direction: column;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    #sec2 img {
        transform: translateX(0);
        width: 100%;
    }

    #sec2 .text {
        display: grid;

        grid-template-areas: 
        
        "div div div";

        grid-template-columns: 1fr 1fr 1fr;

        margin-top: 8rem;
        margin-left: 0;

        justify-items: center;
    }

    .text h2 {
        padding-top: 0;
    }

    #sec2 .text p {
        width: auto;
    }

    #sec2 .text .text1 {
        padding-left: 4rem;
    }

    #sec2 .text .text2 {
        padding-left: 4rem;
    }

    #sec2 .text .text3 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #sec2 .text .text3 p {
        margin-right: 0;
    }

    #sec3 img {
        width: 100%;
    }

    footer {
        flex-wrap: wrap;
    }
    footer .logos {
        width: 20%;
        padding: 0;
        margin: 0;
        justify-content: end;
        flex-wrap: wrap;
    }

    footer .links a:nth-child(3) {
        width: 120px;
        margin-right: 0;
    }

    .attr {
        width: 100%;
        justify-content: center;
    }

    .attr p br {
        display: none;
    }
}

@media screen and (min-width: 1441px) {

    #sec2 {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
    }

    .text {
        padding: 0 15% 0 12%;
        margin: 0
    }


    .text1, .text2, .text3 {
        width: 100%;
    }

    .text1 p, .text2 p, .text3 p {
        width: 100%;
    }
    footer {
        justify-content: space-between;
    }
}